.bannerCategory {
  text-align: center;
  background-image: url('../public/assets/banner-coupon.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 240px;
  background-position: 50%;
  position: relative;
  border-radius: 10px;
}

.wrapperText {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p {
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 10px auto 0 auto;
  background: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  transition: all 200ms ease;
  text-decoration: none;
  color: navy;
  font-weight: 500;
}

.btn:hover {
  background: blue;
  color: white;
  translate: 5%;
}

