.body {
  display: grid;
  grid-template-rows: 1fr 10rem auto;
  grid-template-areas: "main" "." "footer";
  overflow-x: hidden;
  background: #F5F7FA;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.footer {
  z-index: 1;
  --footer-background: #1976d2;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}

 .content {
   padding: 6rem 1rem 2rem;
   background: #F2BC07;
   z-index: 2;
   margin-top: 50px;
 }

 .container {
   margin: 0 auto;
   color: #0C0E12;;
   text-align: center;
 }

.footer__copy {
  text-align: center;
  background: #F2BC07;
  font-size: .875rem;
  text-align: center;
  color: #0C0E12;
  padding: 3rem 0 2rem;
}