.product {
  background-color: #F2BC07;
  border-radius: 10px;
}

.productImg {
  margin: 15px;
}

.productName {
  font-weight: bold;
}

.createdBy {

}

.category {

}

.price {

}

.saleQuantity {

}