.website {
  margin: 5rem 14rem;
  color: #F2BC07;
  padding-top: 5rem;
  text-align: center;
}

.h1 {
  text-align: center;
  margin: 0 15rem;
}

.subtitle {
  text-align: center;
  margin: 20px 12em;
}

.productImg {
  width: 100%;
  opacity: 0.64;
}

.h2 {
  text-align: center;
}

.h2s {
  text-align: center;
  margin-top: 50px;
}

.icon {
  font-size: 80px;
}

.iconGrid {
  margin-top: 5rem;
}

.productImg2 {
  width: 275px;
}

.productImg3 {
  width: 100%;
  margin-top: 75px;
}

.newsletter {
  margin-top: 50px;
  padding: 25px 50px ;
  background-color: #F2BC07;
  color: #0C0E12;
}

.input {
  background-color: #0C0E12;
  color: #F2BC07;
  border: none;
}

.input:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}